block variables
include ../mixins/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(href='css/style.min.css' rel='stylesheet')
    body
        .wrapper
            include ../modules/header
            block content
            include ../modules/footer

        .modal
            mixin modal__item(id = "test", classes)
                .modal__item(id = id, class = classes ? classes : "")
                    button.modal__close
                        .modal__close-icon
                            +icon("cross", "svg")
                    .modal__content
                        block
            
            +modal__item("question")
                .modal-form
                    .modal-form__title Задать вопрос по внедрению СМК
                    form(action="").form.modal-form__form
                        .form-warn
                            input(type="text", name="name", placeholder="Ваше имя", required).form__input
                            span.text-warn Заполните поле
                        .form-warn
                            input(type="text", name="e-mail", placeholder="Ваш e-mail", required).form__input#email
                            span.text-warn Заполните поле
                        .form-warn
                            textarea.form__input.form__input--textarea(name="question", cols="30", rows="10", placeholder="Ваш вопрос")
                            span.text-warn Заполните поле

                    .button.button--modal Отправить
                    .modal-form__consent
                        .consent-checkbox
                            input.chec(type="checkbox" id="chec" name="check")
                            label.check(for="chec")
                        a(href="/docs/ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ.pdf", target="_blank")|Согласие на обработку персональных данных в соответствии с политикой конфиденциальности


            +modal__item("call")
                .modal-form
                    .modal__thanks
                        .modal__title.modal__title--black Спасибо за обращение!
                        .modal__title.modal__title--black Мы свяжемся с вами в течении 15 минут
                    .modal-form__title Запросить обратный звонок
                    form(action="").form.modal-form__form
                        .form-warn
                            input(type="text", name="name", placeholder="Ваше имя").form__input#callname
                            span.text-warn Заполните поле
                        .form-warn
                            input(type="text", name="call", prefix="12", placeholder="+7(").form__input#callphone
                            span.text-warn Заполните поле
                    .button.button--modal Отправить
                    .modal-form__consent
                        .consent-checkbox
                            input.chec(type="checkbox" id="callcheck" name="callcheck")
                            label.check(for="callcheck")
                        a(href="/docs/ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ.pdf", target="_blank")|Согласие на обработку персональных данных в соответствии с политикой конфиденциальности


            +modal__item("rus", "modal__item--large")
                .modal__section.modal__section--blue.modal__section--pd-tb--60
                    .modal__inner
                        .modal__title.modal__title--start ООО «Заснеженная Русь»
                        .modal__row.modal__row--mg-t--80
                            .modal__left-column 
                                p.modal__title Задача
                            .modal__column.modal__column--start В ходе телефонного разговора выяснилось, что на территорию предприятия приезжал проверка РПН, в ходе которой были выявлены документарные нарушения, в частности отсутствие процедур ХАССП.
                                br
                                br
                                |На устранение нарушений, по словам клиента, было отведено 2 месяца.
                                br
                                br
                                |В случае неустранения нарушение компании грозил штраф в размере 300 000 руб и приостановление деятельности на срок 2 месяца.
                                br
                                br
                                |После согласования всех нюансов и заполнения заявки, было принято решение произвести на данном предприятии комплекс мероприятий по внедрению ГОСТ Р 51705 (ХАССП), который состоит из следующих пунктов.
                .modal__section.modal__section--pd-tb--100
                    .modal__inner.modal__inner--center
                        .modal__column.modal__column--center
                            .modal__title.modal__title--photo Разработкой
                                br 
                                |проекта занимался
                            .modal__img
                                img(src="./images/businessman.png", alt="Игорь Державин")
                            .modal__text.modal__text--black специалист по внедрению
                            .modal__text.modal__text--name Игорь Державин
                .modal__section.modal__section--blue.modal__section--pg-t--80
                    .modal__inner
                        .modal__row
                            .modal__left-column
                                p.modal__title Решение 
                            .modal__column
                                p.modal__title Аудит предприятия
                                ul.modal__list
                                    li В рамках аудита было выявлено отсутствие документированных процедур по производству молока и кисломолочной продукции
                                    li Количество сотрудников предприятия составляет 21 человек
                                    li На предприятии функционирует 3 производственные линии и 4 технологических процесса
                                p.modal__text.modal__text--mg--50 Разработка документации, согласно технического задания, в который входят необходимые документированные процедуры, приказы, формы и журналы, в составе:
                                ul.modal__list
                                    li Приказ о составе рабочей группы ХАССП
                                    li Приказ о назначении "внутренних аудиторов
                                    li Области применения ХАССП
                                    li Политика и цели СМБПП
                                    li Описание сырья и продукции
                                    li Информация о производстве
                                    li Анализ опасностей
                                    li Анализ рисков и Критических контрольных точек (ККТ)
                                    li План ХАССП
                                    li Управление несоответствиями
                                    li Валидация и верификация
                .modal__section.modal__section--pd-b--35
                    .modal__inner
                            .modal__row
                                .modal__left-column
                                    .modal__title.modal__title--black Внедрение
                                .modal__column 
                                    .modal__text.modal__text--black После согласования полного комплекта документов с заказчиком, эксперт выехал на территорию предприятия, для обучения персонала и внедрения процедурных форм в технологический процесс.
                                    ul.modal__list.modal__list--black
                                        li Обучение персонала в рамках 12 часовой подготовки
                                        li Приведение производственного процесса в соответствии с разработанной ранее документацией 12 часов
                .modal__section.modal__section--pd-b--60
                    .modal__inner
                            .modal__row
                                .modal__left-column
                                    .modal__title.modal__title--black Результат
                                .modal__column
                                    ul.modal__list.modal__list--black.modal__list--mg-b--63
                                        li На первом этапе происходило согласование макета сертификата ГОСТ Р
                                        li После согласования был выпущен сертификат ГОСТ Р ИСО 22000
                                    .modal__row
                                        .modal__row-item
                                            .modal__title.modal__title--black Срок исполнения
                                            .modal__title.modal__title--start.modal__title--black 1,5 месяца
                                        .modal__row-item
                                            .modal__title.modal__title--black Стоимость
                                            .modal__title.modal__title--start.modal__title--black 120 000 ₽
                                    p.modal__text.modal__text--black После внедрения на предприятии всех процедур, РПН в ходе повторной проверки постановил, полное соответствие компании законодательным требованиям.




            +modal__item("north", "modal__item--large")
                .modal__section.modal__section--blue.modal__section--pd-tb--60
                    .modal__inner
                        .modal__title.modal__title--start НОРД –СИНТЕЗ
                        .modal__row.modal__row--mg-t--80
                            .modal__left-column 
                                p.modal__title Задача
                            .modal__column.modal__column--start В ходе телефонного разговора выяснилось, что на предприятии имеется устаревшая СМК, которую необходимо доработать, провести обучение сотрудников. Компания развивается, вместе с этим требуется усовершенствовать систему менеджмента качества
                .modal__section.modal__section--pd-tb--100
                    .modal__inner.modal__inner--center
                        .modal__column.modal__column--center
                            .modal__title.modal__title--photo Разработкой
                                br 
                                |проекта занимался
                            .modal__img
                                img(src="./images/businessman.png", alt="Игорь Державин")
                            .modal__text.modal__text--black специалист по внедрению
                            .modal__text.modal__text--name Игорь Державин
                .modal__section.modal__section--blue.modal__section--pg-t--80
                    .modal__inner
                        .modal__row
                            .modal__left-column
                                p.modal__title Решение 
                            .modal__column
                                ul.modal__list
                                    li Выездной  аудит предприятия
                                    li Аудит документации
                                    li Интервьюирование сотрудников
                        .modal__row
                            .modal__left-column
                                p.modal__title Результат 
                            .modal__column
                                p.modal__title По результатам проведенных исследований выявили следующие несоответствия
                                ul.modal__list
                                    li Несоответствие требованиям стандарта ИСО 9001-2015
                                    li Ошибки в документации
                                    li Система внедрена не полностью
                                    li Функционирование СМК на предприятии нерезультативно
                                p.modal__title На основании собранных данных клиенту предоставлен отчет со всеми несоответствиями, вариантами решений и консультация эксперта
                .modal__section.modal__section--pd-b--35
                    .modal__inner
                            .modal__row
                                .modal__left-column
                                    .modal__title.modal__title--black Внедрение
                                .modal__column 
                                    ul.modal__list.modal__list--black.modal__list--mg-b--63
                                        li Разработка документации согласно требованиям стандарта ИСО 9001-2015
                                        li Выездное обучение сотрудников офиса и производства принципам работы СМК
                                        li Сертификация предприятия
                                    .modal__row
                                        .modal__row-item
                                            .modal__title.modal__title--black Срок исполнения
                                            .modal__title.modal__title--start.modal__title--black 1,5 месяца
                                        .modal__row-item
                                            .modal__title.modal__title--black Стоимость
                                            .modal__title.modal__title--start.modal__title--black 130 000 ₽


            +modal__item("airlines", "modal__item--large")
                .modal__section.modal__section--blue.modal__section--pd-tb--60
                    .modal__inner
                        .modal__title.modal__title--start АО «АК «Полярные авиалинии»
                        .modal__row.modal__row--mg-t--80
                            .modal__left-column 
                                p.modal__title Задача
                            .modal__column.modal__column--start В мае 2019 года к нам обратилась компания АО «Полярные авиалинии». Взаимодействием с данной организацией занимался ведущий эксперт Павлов А.А. В ходе телефонного разговора выяснилось, что на предприятие должна  приехать проверка партнерской организации  для проверки СМК. 
                                br
                                br
                                |На подготовку, по словам клиента, был отведен 1 месяц.
                .modal__section.modal__section--pd-tb--100
                    .modal__inner.modal__inner--center
                        .modal__column.modal__column--center
                            .modal__title.modal__title--photo Разработкой
                                br 
                                |проекта занимался
                            .modal__img
                                img(src="./images/businessman.png", alt="Игорь Державин")
                            .modal__text.modal__text--black специалист по внедрению
                            .modal__text.modal__text--name Игорь Державин
                .modal__section.modal__section--blue.modal__section--pg-t--80
                    .modal__inner
                        .modal__row
                            .modal__left-column
                                p.modal__title Решение 
                            .modal__column
                                p.modal__title После согласования всех нюансов и заполнения заявки, было принято решение произвести на данном предприятии  выездной  диагностический Аудит СМ
                                p.modal__title Применяемые методики аудита:
                                ul.modal__list
                                    li Ознакомление с документацией
                                    li Интервьюирование сотрудников организации
                                    li Наблюдение за деятельностью на рабочих местах
                        .modal__row
                            .modal__left-column
                                p.modal__title Решение 
                            .modal__column
                                p.modal__title По результатам проведенных исследований выявили следующие несоответствия
                                ul.modal__list
                                    li Не соответствует требованиям стандарта ГОСТ Р ИСО 9001-2015
                                    li Не соответствует внутренними требованиями организации (нормативной документации)
                                    li Внедрена частично
                                    li Функционирует нерезультативно
                                    li Требуется дополнение и переработка СМК
                                p.modal__title На основании собранной информации предоставили отчет со всеми несоответсвиями и план по корректировке и улучшению действующей СМК
            +modal__item("review", "modal__item--medium")
                img.modal-img(src="../images/review-text.jpg", alt="текст-отзыв")

            +modal__item("veles", "modal__item--medium")
                img.modal-img(src="../images/veles-b.png", alt="текст-отзыв")

            +modal__item("maksphil", "modal__item--medium")
                img.modal-img(src="../images/maksphil-b.png", alt="текст-отзыв")
                                    
                            

        script(src='js/scripts.min.js')
        <script src="//code-ya.jivosite.com/widget/YQHstRQhU6" async></script>

