block variables
include ../mixins/mixins

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=pageTitle
        link(href='css/style.min.css' rel='stylesheet')
    body
        .wrapper
            include ../modules/header
            block content
            include ../modules/footer

        .modal
            mixin modal__item(id = "test")
                .modal__item(id = id)
                    button.modal__close
                        .modal__close-icon
                            +icon("cross", "svg")
                    .modal__content
                        block
            
            +modal__item("question")
                .modal-form
                    .modal-form__title Задать вопрос по внедрению СМК
                    form(action="").form.modal-form__form
                        input(type="text", name="name", placeholder="Ваше имя").form__input
                        input(type="text", name="e-mail", placeholder="Ваш e-mail").form__input

            +modal__item("call")
                .modal-form
                    .modal-form__title Задать вопрос по внедрению СМК
                    form(action="").form.modal-form__form
                        input(type="text", name="name", placeholder="Ваше имя").form__input
                        input(type="text", name="e-mail", placeholder="Ваш e-mail").form__input
                    .button Отправить
                    .modal-form__consent
                        inpute(type="checkbox")
                        |Согласие на обработку персональных данных в соответствии с политикой конфиденциальности

        script(src='js/scripts.min.js')
