footer.footer
  .inner.inner--flex.inner--small
    .contacts
      .text.text--section-small Единая горячая линия
      .title.title--footer 8 800 5555-087
      .text.text--section-small.text--mg-t--33 Понедельник — Пятница
      .title.title--subtitle с 9:00 до 21:00
      .text.text--section-small.text--mg-t--33 Офис
      .title.title--subtitle Санкт-Петербург, Невский пр. 63 лит. А
    .social
      .text.text--section-small Написать в мессенджер