footer.footer
  .inner.inner--small
    .contacts.section#contacts
      .item
        .text.text--section-small Единая горячая линия
        a.title.title--footer(href="tel:8 800 5555-087") 8 800 5555-087
        .text.text--section-small.text--mg-t--33 Понедельник — Пятница
        .title.title--subtitle с 9:00 до 21:00
        .text.text--section-small.text--mg-t--33 Офис
        .title.title--subtitle Санкт-Петербург, Невский пр. 63 лит. А
      .item
        .text.text--section-small Написать в мессенджер
        .contacts__row
          a(href="https://wa.me/+79522833939").bg-circle.wApp
          a(href="").bg-circle.skype
          a(href="tg://resolve?domain=+79522833939").bg-circle.telegram
        .button.button--blue.button--mg-t--117.button--wd--240.js--modal(href="#call", data-form-id="Запросить_звонок_в_подвале") Запросить звонок
  .inner.inner--small
    .made-in  
      .made-in__item Сделано в   
        a(href="https://www.cloudmill.ru/").link CloudMill
      .made-in__item «СМK24» 2020 
      .made-in__item 
        a(href="/docs/ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ.pdf", target="_blank").link Политика конфендециальности
        