footer.footer
  .inner.inner--small
    .contacts.section#contacts
      .item
        .text.text--section-small Единая горячая линия
        .title.title--footer 8 800 5555-087
        .text.text--section-small.text--mg-t--33 Понедельник — Пятница
        .title.title--subtitle с 9:00 до 21:00
        .text.text--section-small.text--mg-t--33 Офис
        .title.title--subtitle Санкт-Петербург, Невский пр. 63 лит. А
      .item
        .text.text--section-small Написать в мессенджер
        .contacts__row
          .bg-circle.masage
          .bg-circle.wApp
          .bg-circle.skype
          .bg-circle.telegram
        .button.button--blue.button--mg-t--117.button--wd--240.js--modal(href="#call") Запросить звонок
  .inner.inner--small
    .made-in  
      .made-in__item Сделано в
        .link CloudMill
      .made-in__item «СМK24» 2020 
      .made-in__item 
        .link Политика конфендециальности
        