header.header
  .inner.inner--flex
    .header__logo
    nav.header__nav
      a(href="#") Преимущества
      a(href="#") Сроки и стоимость
      a(href="#") Скидка 30%
      a(href="#") Кейсы
      a(href="#") Контакты
    a.header__phone(href="tel:8 800 5555-087") 8 800 5555-087
    .header__button Заказать звонок