header.header
  .burger
    span
    span
    span
  .burger-menu
    ul
      li
        a(href="#start")
          img(src="./images/header-logo.svg", alt="лого")
      li
        a(href="#advant").burger-menu__item Преимущества
      li
        a(href="#tariffs").burger-menu__item Сроки и стоимость
      li
        a(href="#sale").burger-menu__item Скидка 30%
      li
        a(href="#case").burger-menu__item Кейсы
      li
        a(href="#contacts").burger-menu__item Контакты
  .inner.inner--relative
    .row
      .row__item
        .header__logo
          a(href="#start")
            img(src="./images/header-logo.svg", alt="лого")
        .header__logo--scroll
          a(href="#start")
            img(src="./images/header-logo--scroll.svg", alt="лого")
        nav.header__nav
          a(href="#advant") Преимущества
          a(href="#tariffs") Сроки и стоимость
          a(href="#sale") Скидка 30%
          a(href="#case") Кейсы
          a(href="#contacts") Контакты
      .row__item
        a.header__phone(href="tel:8 800 5555-087") 8 800 5555-087
        .button.button--header.js--modal(href="#call", data-form-id="Заказать звонок из шапки") Заказать звонок