.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(282.12deg, #A2CAFF 19.54%, #4998FF 100%);
  color: white;
  border-bottom: 0.5px solid white;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__item {
      display: flex;
    }
  }

  &--scroll {
    background: white;
    color: #4998ff;
  }

  &__logo {
    img {
      width: 63px;
      height: 35px;
    }
    
    background-position: center;
    background-repeat: no-repeat;
    &--scroll {
      display: none;
    }
  }
  &__nav {
    margin-left: 85px;
    display: flex;
    align-items: center;
    @include megaLarge {
      margin-left: 40px;
    }
    @include extraLarge {
      margin-left: 20px;
    }
    a {
      margin-right: 41px;
      &:hover {
        color: #daeaff;
      }
      .scroll {
        color: #daeaff;
      }
      @include megaLarge {
        margin-right: 20px;
      }
      @include extraLarge {
        margin-right: 20px;
      }
    }
    & a:last-child {
      margin-right: 0;
    }
  }
  &__phone {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    white-space: nowrap;
    padding-left: 33px;
    display: flex;
    align-items: center;
    @include extraLarge {
      padding-left: 10px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 17px;
      height: 28px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='29' viewBox='0 0 17 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.17175 21.6609V3.26172C1.17175 2.15715 2.06718 1.26172 3.17175 1.26172H13.1718C14.2763 1.26172 15.1718 2.15715 15.1718 3.26172V21.6609M1.17175 21.6609V25.2617C1.17175 26.3663 2.06718 27.2617 3.17175 27.2617H13.1718C14.2763 27.2617 15.1718 26.3663 15.1718 25.2617V21.6609M1.17175 21.6609H15.1718' stroke='white' stroke-width='2'/%3E%3Cpath d='M6.67175 24.5154H9.67175' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
      @include extraLarge {
        display: none;
      }
    }
    &--scroll {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 17px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 21.3992V3C1 1.89543 1.89543 1 3 1H13C14.1046 1 15 1.89543 15 3V21.3992M1 21.3992V25C1 26.1046 1.89543 27 3 27H13C14.1046 27 15 26.1046 15 25V21.3992M1 21.3992H15' stroke='%234998FF' stroke-width='2'/%3E%3Cpath d='M6.67175 24.2537H9.67175' stroke='%234998FF' stroke-width='2'/%3E%3C/svg%3E");
        @include extraLarge {
          display: none;
        }
      }
    }
  }
  &__button {
    width: 184px;
    height: 50px;
    margin-left: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    &--scroll {
      border-color: #4998ff; 
    }
    @include megaLarge {
      margin-left: 30px;
    }
    @include extraLarge {
      width: 150px;
    }
  }

}

