.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(282.12deg, #A2CAFF 19.54%, #4998FF 100%);
  z-index: 2;
  color: white;
  border-bottom: 0.5px solid white;

  &--scroll {
    background: white;
    color: #4998ff;
  }

  &__logo {
    width: 64px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='36' viewBox='0 0 64 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.171753 14.613H14.1718V0.613037L0.171753 14.613Z' fill='%23D7E8FF'/%3E%3Crect x='33.1718' y='14.613' width='14' height='14' transform='rotate(-180 33.1718 14.613)' fill='%232885FF'/%3E%3Cpath d='M19.1718 0.613037V14.613L33.1718 0.613037H19.1718Z' fill='%23D7E8FF'/%3E%3Crect x='14.1718' y='33.613' width='14' height='14' transform='rotate(-180 14.1718 33.613)' fill='%232885FF'/%3E%3Cpath d='M0.171753 19.613V33.613L14.1718 19.613H0.171753Z' fill='%23D7E8FF'/%3E%3Cpath d='M30.0838 27.309C29.9558 28.749 29.4544 29.8744 28.5798 30.685C27.7158 31.485 26.5744 31.885 25.1558 31.885C23.5344 31.885 22.2491 31.3517 21.2998 30.285C20.3504 29.2077 19.8758 27.757 19.8758 25.933C19.8758 24.2264 20.3504 22.8077 21.2998 21.677C22.2598 20.5357 23.5824 19.965 25.2678 19.965C26.4731 19.965 27.5344 20.2904 28.4518 20.941C29.3691 21.5917 29.8811 22.493 29.9878 23.645H28.4838C28.3131 22.8984 27.9398 22.317 27.3638 21.901C26.7878 21.4744 26.0784 21.261 25.2358 21.261C23.9664 21.261 23.0064 21.709 22.3558 22.605C21.7158 23.501 21.3958 24.605 21.3958 25.917C21.3958 27.3677 21.7371 28.509 22.4198 29.341C23.1024 30.173 24.0358 30.589 25.2198 30.589C26.1904 30.589 26.9638 30.3117 27.5398 29.757C28.1158 29.1917 28.4624 28.3757 28.5798 27.309H30.0838ZM31.9986 20.221H34.0786L37.7426 29.869L41.2786 20.221H43.3746V31.613H41.9506V22.109L38.3826 31.613H37.0706L33.4386 22.109V31.613H31.9986V20.221ZM52.4481 30.381V31.613H45.0561C45.0881 30.9837 45.1841 30.4344 45.3441 29.965C45.5041 29.4957 45.7495 29.0744 46.0801 28.701C46.4215 28.317 46.7521 28.0024 47.0721 27.757C47.3921 27.5117 47.8455 27.2077 48.4321 26.845C49.3495 26.269 49.9521 25.837 50.2401 25.549C50.8375 24.9624 51.1361 24.3117 51.1361 23.597C51.1361 22.9677 50.9335 22.4557 50.5281 22.061C50.1228 21.6557 49.5948 21.453 48.9441 21.453C48.1655 21.453 47.6055 21.725 47.2641 22.269C46.9335 22.8024 46.7575 23.4797 46.7361 24.301H45.3601V23.997C45.3601 22.877 45.6908 21.9757 46.3521 21.293C47.0241 20.6104 47.9095 20.269 49.0081 20.269C50.0855 20.269 50.9441 20.5677 51.5841 21.165C52.2241 21.7624 52.5441 22.5624 52.5441 23.565C52.5441 23.9917 52.4695 24.397 52.3201 24.781C52.1815 25.1544 52.0215 25.469 51.8401 25.725C51.6695 25.981 51.4028 26.253 51.0401 26.541C50.6881 26.829 50.3948 27.053 50.1601 27.213C49.9255 27.3624 49.5895 27.5704 49.1521 27.837C48.2775 28.3597 47.6961 28.765 47.4081 29.053C47.0028 29.4477 46.7415 29.8904 46.6241 30.381H52.4481ZM61.7868 27.725V28.877H60.2508V31.613H58.9708V28.877H53.9948V27.597L59.1468 20.269H60.2508V27.725H61.7868ZM58.9708 27.725V22.269L55.1948 27.725H58.9708Z' fill='white'/%3E%3C/svg%3E");
    &--scroll {
      background-image: url("data:image/svg+xml,%3Csvg width='64' height='35' viewBox='0 0 64 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.171753 14H14.1718V0L0.171753 14Z' fill='%23D7E8FF'/%3E%3Crect x='33.1718' y='14' width='14' height='14' transform='rotate(-180 33.1718 14)' fill='%232885FF'/%3E%3Cpath d='M19.1718 0V14L33.1718 0H19.1718Z' fill='%23D7E8FF'/%3E%3Crect x='14.1718' y='33' width='14' height='14' transform='rotate(-180 14.1718 33)' fill='%232885FF'/%3E%3Cpath d='M0.171753 19V33L14.1718 19H0.171753Z' fill='%23D7E8FF'/%3E%3Cpath d='M30.0838 26.696C29.9558 28.136 29.4544 29.2613 28.5798 30.072C27.7158 30.872 26.5744 31.272 25.1558 31.272C23.5344 31.272 22.2491 30.7387 21.2998 29.672C20.3504 28.5947 19.8758 27.144 19.8758 25.32C19.8758 23.6133 20.3504 22.1947 21.2998 21.064C22.2598 19.9227 23.5824 19.352 25.2678 19.352C26.4731 19.352 27.5344 19.6773 28.4518 20.328C29.3691 20.9787 29.8811 21.88 29.9878 23.032H28.4838C28.3131 22.2853 27.9398 21.704 27.3638 21.288C26.7878 20.8613 26.0784 20.648 25.2358 20.648C23.9664 20.648 23.0064 21.096 22.3558 21.992C21.7158 22.888 21.3958 23.992 21.3958 25.304C21.3958 26.7547 21.7371 27.896 22.4198 28.728C23.1024 29.56 24.0358 29.976 25.2198 29.976C26.1904 29.976 26.9638 29.6987 27.5398 29.144C28.1158 28.5787 28.4624 27.7627 28.5798 26.696H30.0838ZM31.9986 19.608H34.0786L37.7426 29.256L41.2786 19.608H43.3746V31H41.9506V21.496L38.3826 31H37.0706L33.4386 21.496V31H31.9986V19.608ZM52.4481 29.768V31H45.0561C45.0881 30.3707 45.1841 29.8213 45.3441 29.352C45.5041 28.8827 45.7495 28.4613 46.0801 28.088C46.4215 27.704 46.7521 27.3893 47.0721 27.144C47.3921 26.8987 47.8455 26.5947 48.4321 26.232C49.3495 25.656 49.9521 25.224 50.2401 24.936C50.8375 24.3493 51.1361 23.6987 51.1361 22.984C51.1361 22.3547 50.9335 21.8427 50.5281 21.448C50.1228 21.0427 49.5948 20.84 48.9441 20.84C48.1655 20.84 47.6055 21.112 47.2641 21.656C46.9335 22.1893 46.7575 22.8667 46.7361 23.688H45.3601V23.384C45.3601 22.264 45.6908 21.3627 46.3521 20.68C47.0241 19.9973 47.9095 19.656 49.0081 19.656C50.0855 19.656 50.9441 19.9547 51.5841 20.552C52.2241 21.1493 52.5441 21.9493 52.5441 22.952C52.5441 23.3787 52.4695 23.784 52.3201 24.168C52.1815 24.5413 52.0215 24.856 51.8401 25.112C51.6695 25.368 51.4028 25.64 51.0401 25.928C50.6881 26.216 50.3948 26.44 50.1601 26.6C49.9255 26.7493 49.5895 26.9573 49.1521 27.224C48.2775 27.7467 47.6961 28.152 47.4081 28.44C47.0028 28.8347 46.7415 29.2773 46.6241 29.768H52.4481ZM61.7868 27.112V28.264H60.2508V31H58.9708V28.264H53.9948V26.984L59.1468 19.656H60.2508V27.112H61.7868ZM58.9708 27.112V21.656L55.1948 27.112H58.9708Z' fill='%234998FF'/%3E%3C/svg%3E");
    }
  }
  &__nav {
    margin-left: 85px;
    display: flex;
    align-items: center;
    a {
      margin-right: 41px;
      &:hover {
        color: #daeaff;
      }
      .scroll {
        color: #daeaff;
      }
    }
    & a:last-child {
      margin-right: 0;
    }
  }
  &__phone {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 195px;
    padding-left: 33px;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 17px;
      height: 28px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='29' viewBox='0 0 17 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.17175 21.6609V3.26172C1.17175 2.15715 2.06718 1.26172 3.17175 1.26172H13.1718C14.2763 1.26172 15.1718 2.15715 15.1718 3.26172V21.6609M1.17175 21.6609V25.2617C1.17175 26.3663 2.06718 27.2617 3.17175 27.2617H13.1718C14.2763 27.2617 15.1718 26.3663 15.1718 25.2617V21.6609M1.17175 21.6609H15.1718' stroke='white' stroke-width='2'/%3E%3Cpath d='M6.67175 24.5154H9.67175' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    }
    &--scroll {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 17px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 21.3992V3C1 1.89543 1.89543 1 3 1H13C14.1046 1 15 1.89543 15 3V21.3992M1 21.3992V25C1 26.1046 1.89543 27 3 27H13C14.1046 27 15 26.1046 15 25V21.3992M1 21.3992H15' stroke='%234998FF' stroke-width='2'/%3E%3Cpath d='M6.67175 24.2537H9.67175' stroke='%234998FF' stroke-width='2'/%3E%3C/svg%3E");
      }
    }
  }
  &__button {
    width: 184px;
    height: 50px;
    margin-left: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    &--scroll {
      border-color: #4998ff; 
    }
  }

}

