extends ../layouts/default.pug

block variables
 -var pageTitle='СМК24'

block content

    .content

        .start.section#start
            .inner.inner--relative
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                p.text.text--start «Система менеджмента качества на соответствие»
                a.button.button--mg-t--30.button--start.js--modal(href="#question", data-form-id="Форма: Узнать подробнее с первого экрана") Узнать подробнее
                .start__bg-img
                    img(src="./images/start-bg.svg", alt="планета")
        
        .advant.section#advant
            .inner
                .title Преимущества
                .advant__colomn
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("people", "svg")
                                p.text Личное присутствие
                                    br
                                    |эксперта-аудитора на предприятии
                            .link.item-link#one Ваш аудитор
                                .tooltip#tool-one 
                                    img(src="./images/auditor.png", alt="Державин Игорь")
                                .arrow
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("akkred", "svg")
                                .text Аккредитованы
                                    br
                                    |РОССТАНДАРТОМ под номером
                                    br
                                    |№ РОСС RU.31763.04ЖОЭ2
                            a(href="https://www.rst.gov.ru/portal/gost/home/activity/compliance/VoluntaryAcknowledgement/reestr?portal:componentId=11f30a16-f554-4d49-a27a-e277ebf53b2f&portal:isSecure=false&portal:portletMode=view&navigationalstate=JBPNS_rO0ABXc5AAZhY3Rpb24AAAABABBjb25jcmV0ZURvY3VtZW50AAZkb2NfaWQAAAABAAQzMDk0AAdfX0VPRl9f", target="_blank").link.item-link.left Смотреть в реестре
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("docx", "svg")
                                p.text Гарантии и алгоритм работы
                                    br
                                    |прописаны в Договоре
                            a(href="/docs/Типовой Договор Внедрение.pdf", download="").link.item-link Типовой договор
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("certif", "svg")
                                p.text Выдаем сертификаты только
                                    br
                                    |от аккредитованных органов
                            a(href="/docs/Пример сертификата.pdf", download="").link.item-link.left Образец сертификата

        .tariffs.section#tariffs

            .inner

                .tariffs__list

                    .tariff
                    
                        h2.tariff__title Премиум
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help#five Варианты внедрения

                                .tooltip.tariff-tool#tool-five Выездной диагностический аудит предприятия. Отчет с рекомендациями по устранению несоответствий. Разработка документации под ваше предприятие. Обучение сотрудников отдела качества предприятия СМК. Консультационное сопровождение внедрения СМК на предприятии. Подготовка предприятия к аудит-проверкам
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 78 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Срок
                                p.tariff__info-text 2-6 месяца

                        a.tariff__button.button.button--blue.js--modal(href="#call", data-form-id="Форма: Заявка тарифа Премиум") Мне подходит 
                    
                    .tariff
                    
                        h2.tariff__title Стандарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help#six Варианты внедрения

                                .tooltip.tariff-tool#tool-six Аудит, дистанционное внедрение СМК, без выезда эксперта. Обучение отдела качества поддержанию СМК в рабочем состоянии. Сертификаты внутренних аудиторов. Взаимодействие проходит по скайп
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 47 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Срок
                                p.tariff__info-text 1,5-3 месяца

                        a.tariff__button.button.button--blue.js--modal(href="#call", data-form-id="Форма: Заявка тарифа Стандарт") Мне подходит 
                        
                    .tariff.tariff--highlight
                    
                        h2.tariff__title Базовый
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help.link--help--white#seven Варианты внедрения

                                .tooltip.tariff-tool#tool-seven Разработка необходимой документации и полноценное онлайн обучение персонала компании принципам внедрения СМК
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 32 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Срок
                                p.tariff__info-text 1-2 месяца

                        a.button.tariff__button.js--modal(href="#call", data-form-id="Форма: Заявка тарифа Базовый") Мне подходит 

                    .tariff
                    
                        h2.tariff__title Смарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.left.link--help#eight Варианты внедрения

                                .tooltip.tariff-tool#tool-eight Разработка необходимой документации СМК экспертом, совместно с заказчиком, с формированием отчета. Четыре 3-х часовых он-лайн обучения
                                .arrowl.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 35 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Срок
                                p.tariff__info-text 1-1,5 месяц

                        a.tariff__button.button.button--blue.js--modal(href="#call", data-form-id="Форма: Заявка тарифа Смарт") Мне подходит 


        .sale.section#sale
            .inner.inner--small.inner--relative
                .sale__conteiner
                    .sale__box
                        p.title.title--white Скидка 30%
                        p.text.text--section.text--mg-t--20 Ответьте на несколько вопросов 
                            br
                            |и получите скидку!
                        .button.button--mg-t--100.button--wd--240 Получить скидку
                        .percent
                            p -30%
                            p -30%
                            p -30%


        .package
            .inner.inner--small
                .package__row
                    .title В пакет документов входит
                    a(href="/docs/Пакет документов.rar", download="").link.link--icon Скачать архивом
                .conteiner-dokx
                    .conteiner-dokx__item
                        |Руководство по качеству
                        a(href="/docs/Руководство по качеству.pdf", download="").link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Документация СМК (перечень) у каждого варианта свой
                        a(href="/docs/Документация СМК.pdf", download="").link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификат ИСО (с занесением в реестр)
                        a(href="/docs/Сертификат ИСО.pdf", download="").link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Приложение к сертификату с видами работ
                        a(href="/docs/Приложение с видами работ.pdf", download="").link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Разрешение на применение знака
                        a(href="/docs/Разрешение на применение знака.pdf", download="").link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификаты внутренних аудиторов
                        a(href="/docs/Сертификат внутренних аудиторов.pdf", download="").link.link--mg-t--70 Скачать образец
        .big-photo
            .inner.inner--small.inner--relative
                p.title Задайте вопрос 
                    br 
                    |по внедрению ИСО 
                    br
                    |на предприятии
                .photo
                    img.businessman(src="./images/businessman.png", alt="Бизнессмен")
                .title.title--subtitle.title--mg-t--35 Игорь Державин
                p.text.text--toolTip.text--mg-t--20 cпециалист по внедрению ИСО
                .button.button--wd--240.button--mg-t--75.js--modal(href="#question", data-form-id="Форма: Задайте вопрос, Игорю Державину") Задать вопрос
    .slider-block.case.section#case
        .inner.inner--small
            .block-row
                p.title.title--white Наши кейсы
                .slider-buttons
                    .button.button--slider.button--left
                    .button.button--slider.button--right
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        p.text.text--toolTip Производитель молочной продукции
                        p.title.title--subtitle.title--mg-t--20 «ООО «Заснеженная Русь»»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Провести мероприятие по внедрению ГОСТ Р 51705 (ХАССП)
                        .button.button--red.button--mg-t--100.js--modal(href="#rus") Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Федеральная авиакомпания
                        p.title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Произвести на данном предприятии  выездной  диагностический Аудит СМК
                        .button.button--red.button--mg-t--100.js--modal(href="#airlines") Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Производитель водных дисперсий полимеров и клеев
                        p.title.title--subtitle.title--mg-t--20 НОРД –СИНТЕЗ
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Обновить устаревшую СМК, провести обучение сотрудников
                        .button.button--red.button--mg-t--100.js--modal(href="#north") Кейс полностью
    .slider-block.docs
        .inner.inner--small
            .block-row
                p.title Отзывы
                .slider-buttons
                    .button.button--slider.button--left.button--border--blue
                    .button.button--slider.button--right.button--border--blue
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        .card-img.js--modal(href="#review")
                            img(src="./images/review-text.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            p.text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        .card-img.js--modal(href="#veles")
                            img(src="./images/veles-b.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Общество с ограниченной ответственностью «ВЕЛЕС-АГРО» выражает Вам и сотрудникам Вашей компании глубочайшую признательность за помощь в получении сертификата соответствия нашего предприятия стандартам ISO 22000-2009. Прошу Вас поощрить специалиста по работе с клиентами Павлова Александра, который обеспечивал взаимодействие между нашими организациями, за оперативность, пунктуальность и высокий профессионализм. Приятно иметь дело с людьми, которые понимают ценность времени, и бережно относятся как ко времени компании, в которой работают, так и ко времени клиента. Желаем Вам успехов в деятельности Вашей организации, и надеемся на дальнейшее плодотворное сотрудничество!

                            p.text.text--start.text--mg-t--20.text--black С Уважением, Генеральный директор Сарафанов Денис Викторович
                    .swiper-slide.card
                        .card-img.js--modal(href="#maksphil")
                            img(src="./images/maksfil-b.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic ООО ПКФ «МаксФил» выражает искреннюю благодарность Вам и коллективу ООО Парадигма за помощь в получении сертификата соответствия нашего предприятия стандартам ISO 50001 Команда «ООО Парадигма» - настоящие профессионалы, которые ответственно подходят к решению поставленных задач Спасибо за активное взаимодействие, готовность к оперативными действиям и индивидуальный подход к каждой компании
                            p.text.text--start.text--mg-t--20.text--black С Уважением, Генеральный директор БУТ Р.А.
                    .swiper-slide.card
                        .card-img.js--modal(href="#belserv")
                            img(src="./images/belserv.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Сервисный центр «БЕЛСЕРВИС» выражает Вам и сотрудникам Вашей компании глубочайшую признательность за помощь в получении сертификата соответствия нашей организации. Прощу Вас поощрить специалиста по работе с клиентами Павлова Александра, который обеспечивал взаимодействие между нашими организациями, за оперативность пунктуальность и высокий профессионализм. Приятно иметь дело с людьми, которые понимаю ценность времени. Желаем успехов в деятельности Вашей организации, и надеемся на дальнейшее плодотворное сотрудничество!
                            p.text.text--start.text--mg-t--20.text--black С Уважением, Индивидуальный предприниматель Рудица Р. А 
                    .swiper-slide.card
                        .card-img.js--modal(href="#hit")
                            img(src="./images/hit.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Выражаем Вам и сотрудникам Вашей компании глубочайшую признательность за помощь в получении сертификата ГОСТ З ИСО9001-2015 (ISO 9001:2015). Прошу Вас поощрить специалиста по работе с клиентами Павлова Александра, который обеспечивал взаимодействие между нашими организациями, за оперативность, пунктуальность и высокий профессионализм. Приятно иметь дело с людьми, которые понимают ценность времени, и бережно относятся как ко времени компании, в которой работают, так и ко времени клиента. Желаем Вам успехов в деятельности Вашей организации, и надеемся на дальнейшее плодотворное сотрудничество.
                            p.text.text--start.text--mg-t--20.text--black С Уважением,
                                br
                                |Соскова С. А.
                            
                    
  
