extends ../layouts/default.pug

block variables
 -var pageTitle='Главная'

block content
    .content
        .start
            .inner
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                .text.text--srart «Система менеджмента качества на соответствие»
                .start__bg-img
                    +icon('start__bg-img', 'svg')
                .button.button--red.button--mg-t--30 Узнать подробнее