extends ../layouts/default.pug

block variables
 -var pageTitle='СМ24'

block content

    .content

        .start
            .inner.inner--relative
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                .text.text--srart «Система менеджмента качества на соответствие»
                a.button.button--mg-t--30.js--modal(href="#call") Узнать подробнее
                .start__bg-img
                    img(src="./images/start-bg.svg", alt="планета")
        
        .advant
            .inner
                .title Преимущества
                .advant__conteiner
                    .toolTip
                        .bg-circle
                            +icon("people", "svg")
                        .text Личное присутствие
                            br
                            |эксперта-аудитора на предприятии
                        .link Ваш аудитор
                    .toolTip
                        .bg-circle
                            +icon("akkred", "svg")
                        .text Аккредитованы
                            br
                            |РОССТАНДАРТОМ под номером
                            br
                            |№ РОСС RU.31763.04ЖОЭ2
                        .link Смотреть в реестре
                    .toolTip
                        .bg-circle
                            +icon("docx", "svg")
                        .text Гарантии и алгоритм работы
                            br
                            |прописаны в Договоре
                        .link Типовой договор
                    .toolTip
                        .bg-circle
                            +icon("certif", "svg")
                        .text Выдаем сертификаты только
                            br
                            |от аккредитованных органов
                        .link Образец сертификата

        .tariffs

            .inner

                .tariffs__list
                    
                    each tariff in [0, 0, 1, 0]

                        .tariff(class = tariff ? "tariff--highlight" : "")
                        
                            h2.tariff__title Премиум
                            
                            button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                                .help-link(class = tariff ? "help-link--white" : "") Описание
                            
                            ul.tariff__info

                                li.tariff__info-item
                                    h3.tariff__info-title Стоимость внедрения
                                    p.tarigg__info-text от 78 000 ₽
                                    
                                li.tariff__info-item
                                    h3.tariff__info-title Стоимость внедрения
                                    p.tariff__info-text 2-6 месяца

                            a.button.tariff__button(class = tariff ? "button--wd" : "button--blue", href="#modal", data-modal="tariff-1") Мне подходит 


        .sale
            .inner.inner--small.inner--relative
                .title.title--white Скидка 30%
                .text.text--section.text--mg-t--20 Ответьте на несколько вопросов
                    br
                    |и получите скидку!
                .button.button--mg-t--100 Получить скидку
                .percent
                    p -30%
                    p -30%
                    p -30%


        .package
            .inner.inner--small
                .title В пакет документов входит
                    .link.link--icon Скачать архивом
                .conteiner-dokx
                    .conteiner-dokx__item
                        |Руководство по качеству
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Документация СМК (перечень) у каждого варианта свой
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификат ИСО (с занесением в реестр)
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Приложение к сертификату с видами работ
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Разрешение на применение знака
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификаты внутренних аудиторов
                        .link.link--mg-t--70 Скачать образец
        .big-photo
            .inner.inner--small.inner--relative
                .title Задайте вопрос 
                    br 
                    |по внедрению ИСО 
                    br
                    |на предприятии
                .title.title--subtitle Игорь Державин
                .text.text--toolTip.text--mg-t--20 cпециалист по внедрению ИСО
                .button.button--mg-t--75 Задать вопрос
                img.businessman(src="./images/businessman.png", alt="Бизнессмен")
    .slider-block.case
        .inner.inner--small
            .block-row
                .title.title--white Наши кейсы
                .slider-buttons
                    .button.button--slider.button--left
                    .button.button--slider.button--right
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
    .slider-block.docs
        .inner.inner--small
            .block-row
                .title Отзывы
                .slider-buttons
                    .button.button--slider.button--left.button--border--blue
                    .button.button--slider.button--right.button--border--blue
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20 Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20 Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20 Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20 Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                
  
