extends ../layouts/default.pug

block variables
 -var pageTitle='СМ24'

block content

    .content

        .start
            .inner.inner--relative
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                .text.text--start «Система менеджмента качества на соответствие»
                a.button.button--mg-t--30.js--modal(href="#call") Узнать подробнее
                .start__bg-img
                    img(src="./images/start-bg.svg", alt="планета")
        
        .advant
            .inner
                .title Преимущества
                .advant__colomn
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("people", "svg")
                                .text Личное присутствие
                                    br
                                    |эксперта-аудитора на предприятии
                            .link.item-link Ваш аудитор
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("akkred", "svg")
                                .text Аккредитованы
                                    br
                                    |РОССТАНДАРТОМ под номером
                                    br
                                    |№ РОСС RU.31763.04ЖОЭ2
                            .link.item-link Смотреть в реестре
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("docx", "svg")
                                .text Гарантии и алгоритм работы
                                    br
                                    |прописаны в Договоре
                            .link.item-link Типовой договор
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("certif", "svg")
                                .text Выдаем сертификаты только
                                    br
                                    |от аккредитованных органов
                            .link.item-link Образец сертификата

        .tariffs

            .inner

                .tariffs__list

                    .tariff
                    
                        h2.tariff__title Премиум
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .help-link Описание
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 78 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 2-6 месяца

                        a.tariff__button.button.button--blue( href="#modal", data-modal="tariff-1") Мне подходит 
                    
                    .tariff
                    
                        h2.tariff__title Стандарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .help-link Описание
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 47 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1,5-3 месяца

                        a.tariff__button.button.button--blue( href="#modal", data-modal="tariff-1") Мне подходит 
                        
                    .tariff.tariff--highlight
                    
                        h2.tariff__title Базовый
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .help-link.help-link--white Описание
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 32 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1-2 месяца

                        a.button.tariff__button.button--wd( href="#modal", data-modal="tariff-1") Мне подходит 

                    .tariff
                    
                        h2.tariff__title Смарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .help-link Описание
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 35 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1-1,5 месяц

                        a.tariff__button.button.button--blue( href="#modal", data-modal="tariff-1") Мне подходит 


        .sale
            .inner.inner--small.inner--relative
                .sale__conteiner
                    .sale__box
                        .title.title--white Скидка 30%
                        .text.text--section.text--mg-t--20 Ответьте на несколько вопросов 
                            br
                            |и получите скидку!
                        .button.button--mg-t--100 Получить скидку
                        .percent
                            p -30%
                            p -30%
                            p -30%


        .package
            .inner.inner--small
                .package__row
                    .title В пакет документов входит
                    .link.link--icon Скачать архивом
                .conteiner-dokx
                    .conteiner-dokx__item
                        |Руководство по качеству
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Документация СМК (перечень) у каждого варианта свой
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификат ИСО (с занесением в реестр)
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Приложение к сертификату с видами работ
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Разрешение на применение знака
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификаты внутренних аудиторов
                        .link.link--mg-t--70 Скачать образец
        .big-photo
            .inner.inner--small.inner--relative
                .title Задайте вопрос 
                    br 
                    |по внедрению ИСО 
                    br
                    |на предприятии
                .photo
                    img.businessman(src="./images/businessman.png", alt="Бизнессмен")
                .title.title--subtitle.title--mg-t--35 Игорь Державин
                .text.text--toolTip.text--mg-t--20 cпециалист по внедрению ИСО
                .button.button--mg-t--75 Задать вопрос
    .slider-block.case
        .inner.inner--small
            .block-row
                .title.title--white Наши кейсы
                .slider-buttons
                    .button.button--slider.button--left
                    .button.button--slider.button--right
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        .text.text--toolTip Федеральная авиакомпания
                        .title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        .text.text--toolTip.text--mg-t--60 Задача
                        .title.title--subtitle-small.title--mg-t--20 Подготовиться к партнерской проверке СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
    .slider-block.docs
        .inner.inner--small
            .block-row
                .title Отзывы
                .slider-buttons
                    .button.button--slider.button--left.button--border--blue
                    .button.button--slider.button--right.button--border--blue
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            .text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            .text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                
  
