extends ../layouts/default.pug

block variables
 -var pageTitle='Главная'

block content
    .content
        .start
            .inner
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                .text.text--srart «Система менеджмента качества на соответствие»
                .start__bg-img
                    +icon('start__bg-img', 'svg')
                .button.button--red.button--mg-t--30 Узнать подробнее
        .advant
            .inner
                .title Преимущества
                .advant__conteiner
                    .toolTip
                        .bg-circle
                            +icon("people", "svg")
                        .text Личное присутствие
                            br
                            |эксперта-аудитора на предприятии
                        .link Ваш аудитор
                    .toolTip
                        .bg-circle
                            +icon("akkred", "svg")
                        .text Аккредитованы
                            br
                            |РОССТАНДАРТОМ под номером
                            br
                            |№ РОСС RU.31763.04ЖОЭ2
                        .link Смотреть в реестре
                    .toolTip
                        .bg-circle
                            +icon("docx", "svg")
                        .text Гарантии и алгоритм работы
                            br
                            |прописаны в Договоре
                        .link Типовой договор
                    .toolTip
                        .bg-circle
                            +icon("certif", "svg")
                        .text Выдаем сертификаты только
                            br
                            |от аккредитованных органов
                        .link Образец сертификата
        .sale
            .inner.inner--pg-l--110
                .title.title--white Скидка 30%
                .text.text--section.text--mg-t--20 Ответьте на несколько вопросов
                    br
                    |и получите скидку!
                .button.button--red.button--mg-t--120 Получить скидку
                .percent
                    p -30%
                    p -30%
                    p -30%
        .package
            .inner.inner--wd--1200
                .title В пакет документов входит
                    .link.link--icon Скачать архивом
                .conteiner-dokx
                    .conteiner-dokx__item