extends ../layouts/default.pug

block variables
 -var pageTitle='СМК24'

block content

    .content

        .start
            .inner.inner--relative
                h1.title.title--start Внедрим систему
                    br
                    |менеджмента качества
                h2.title.title--start-h2 ГОСТ Р ИСО 9001-2015
                p.text.text--start «Система менеджмента качества на соответствие»
                a.button.button--mg-t--30.button--start.js--modal(href="#question") Узнать подробнее
                .start__bg-img
                    img(src="./images/start-bg.svg", alt="планета")
        
        .advant
            .inner
                .title Преимущества
                .advant__colomn
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("people", "svg")
                                p.text Личное присутствие
                                    br
                                    |эксперта-аудитора на предприятии
                            a.link.item-link#one Ваш аудитор
                                .tooltip#tool-one 
                                    p.title.title--subtitle Державин Игорь
                                    img(src="./images/businessman.png", alt="Державин Игорь")
                                .arrow
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("akkred", "svg")
                                .text Аккредитованы
                                    br
                                    |РОССТАНДАРТОМ под номером
                                    br
                                    |№ РОСС RU.31763.04ЖОЭ2
                            .link.item-link.left Смотреть в реестре
                    .advant__row
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("docx", "svg")
                                p.text Гарантии и алгоритм работы
                                    br
                                    |прописаны в Договоре
                            .link.item-link Типовой договор
                        .advant__item
                            .advant__content
                                .item-icon
                                    +icon("certif", "svg")
                                p.text Выдаем сертификаты только
                                    br
                                    |от аккредитованных органов
                            .link.item-link.left Образец сертификата

        .tariffs

            .inner

                .tariffs__list

                    .tariff
                    
                        h2.tariff__title Премиум
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help#five Описание

                                .tooltip.tariff-tool#tool-five Разработка необходимой документации и полноценное онлайн обучение персонала компании принципам внедрения СМК
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 78 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 2-6 месяца

                        a.tariff__button.button.button--blue.js--modal(href="#call") Мне подходит 
                    
                    .tariff
                    
                        h2.tariff__title Стандарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help#six Описание

                                .tooltip.tariff-tool#tool-six Разработка необходимой документации и полноценное онлайн обучение персонала компании принципам внедрения СМК
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 47 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1,5-3 месяца

                        a.tariff__button.button.button--blue.js--modal(href="#call") Мне подходит 
                        
                    .tariff.tariff--highlight
                    
                        h2.tariff__title Базовый
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.link--help.link--help--white#seven Описание

                                .tooltip.tariff-tool#tool-seven Разработка необходимой документации и полноценное онлайн обучение персонала компании принципам внедрения СМК
                                .arrow.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 32 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1-2 месяца

                        a.button.tariff__button.js--modal(href="#call") Мне подходит 

                    .tariff
                    
                        h2.tariff__title Смарт
                        
                        button.tariff__description.js--tooltip(data-tooltip="tariff-1")

                            .link.left.link--help#eight Описание

                                .tooltip.tariff-tool#tool-eight Разработка необходимой документации и полноценное онлайн обучение персонала компании принципам внедрения СМК
                                .arrowl.tariff-arrow
                        
                        ul.tariff__info

                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text от 35 000 ₽
                                
                            li.tariff__info-item
                                h3.tariff__info-title Стоимость внедрения
                                p.tariff__info-text 1-1,5 месяц

                        a.tariff__button.button.button--blue.js--modal(href="#call") Мне подходит 


        .sale
            .inner.inner--small.inner--relative
                .sale__conteiner
                    .sale__box
                        p.title.title--white Скидка 30%
                        p.text.text--section.text--mg-t--20 Ответьте на несколько вопросов 
                            br
                            |и получите скидку!
                        .button.button--mg-t--100.button--wd--240 Получить скидку
                        .percent
                            p -30%
                            p -30%
                            p -30%


        .package
            .inner.inner--small
                .package__row
                    .title В пакет документов входит
                    .link.link--icon Скачать архивом
                .conteiner-dokx
                    .conteiner-dokx__item
                        |Руководство по качеству
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Документация СМК (перечень) у каждого варианта свой
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификат ИСО (с занесением в реестр)
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Приложение к сертификату с видами работ
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Разрешение на применение знака
                        .link.link--mg-t--70 Скачать образец
                    .conteiner-dokx__item
                        |Сертификаты внутренних аудиторов
                        .link.link--mg-t--70 Скачать образец
        .big-photo
            .inner.inner--small.inner--relative
                p.title Задайте вопрос 
                    br 
                    |по внедрению ИСО 
                    br
                    |на предприятии
                .photo
                    img.businessman(src="./images/businessman.png", alt="Бизнессмен")
                .title.title--subtitle.title--mg-t--35 Игорь Державин
                p.text.text--toolTip.text--mg-t--20 cпециалист по внедрению ИСО
                .button.button--wd--240.button--mg-t--75.js--modal(href="#question") Задать вопрос
    .slider-block.case
        .inner.inner--small
            .block-row
                p.title.title--white Наши кейсы
                .slider-buttons
                    .button.button--slider.button--left
                    .button.button--slider.button--right
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        p.text.text--toolTip Производитель молочной продукции
                        p.title.title--subtitle.title--mg-t--20 «ООО «Заснеженная Русь»»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Провести мероприятие по внедрению ГОСТ Р 51705 (ХАССП)
                        .button.button--red.button--mg-t--100.js--modal(href="#rus") Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Федеральная авиакомпания
                        p.title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Произвести на данном предприятии  выездной  диагностический Аудит СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Производитель водных дисперсий полимеров и клеев
                        p.title.title--subtitle.title--mg-t--20 НОРД –СИНТЕЗ
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Обновить устаревшую СМК, провести обучение сотрудников
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Производитель молочной продукции
                        p.title.title--subtitle.title--mg-t--20 «ООО «Заснеженная Русь»»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Провести мероприятие по внедрению ГОСТ Р 51705 (ХАССП)
                        .button.button--red.button--mg-t--100.js--modal(href="#rus") Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Федеральная авиакомпания
                        p.title.title--subtitle.title--mg-t--20 «АО Плярные авиалинии»
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Произвести на данном предприятии  выездной  диагностический Аудит СМК
                        .button.button--red.button--mg-t--100 Кейс полностью
                    .swiper-slide.card
                        p.text.text--toolTip Производитель водных дисперсий полимеров и клеев
                        p.title.title--subtitle.title--mg-t--20 НОРД –СИНТЕЗ
                        p.text.text--toolTip.text--mg-t--60 Задача
                        p.title.title--subtitle-small.title--mg-t--20 Обновить устаревшую СМК, провести обучение сотрудников
                        .button.button--red.button--mg-t--100 Кейс полностью
    .slider-block.docs
        .inner.inner--small
            .block-row
                p.title Отзывы
                .slider-buttons
                    .button.button--slider.button--left.button--border--blue
                    .button.button--slider.button--right.button--border--blue
            .swiper-container.slider
                .swiper-wrapper
                    .swiper-slide.card
                        .card-img
                            img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            p.text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        .card-img
                            img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            p.text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        .card-img
                            img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            p.text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                    .swiper-slide.card
                        .card-img
                            img(src="./images/screen.png", alt="благодарность")
                        .conteiner
                            p.text.text--italic Благодарим компанию "СМК24" в частности Ведущего специалиста Игорю Державину, за высокое качество и оперативность оказанных услуг по сертификации систем менеджмента. Главным достоинством Ваших сотрудников является умение быстро, квалифицированно и добросовестно выполнять поставленные задачи, также обязанность и аккуратность, проявленные в процессе работы.
                            p.text.text--start.text--mg-t--20.text--black Заместитель директора ООО "Красноярская Геоархеология" А.Ю. Дубатов
                
  
