.content {
  padding-top: 100px;
}
.start {
  position: relative;
  width: 100%;
  background: linear-gradient(282.12deg, #A2CAFF 19.54%, #4998FF 100%);
  padding-top: 105px;
  padding-bottom: 178px;
  overflow: hidden;

  .svg-start__bg-img:before {
    position: absolute;
    top: 60px;
    right: 0;
  }
}
.advant {
  padding-top: 80px;
  &__conteiner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .toolTip {
    width: 690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #F2F7FF;
    border-radius: 4px;
    margin: 0 20px 20px 0;
  }
  .bg-circle {
    position: relative;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sale {
  background: #4998FF;
  margin-top: 113px;
  padding: 120px 0 90px 0;
  overflow: hidden;
  .percent {
    position: absolute;
    top: -14px;
    right: 0;
    font-weight: 500;
    font-size: 306px;
    line-height: 120%;
    & :nth-of-type(1) {
      position: absolute;
      top: -59%;
      background: rgb(163,202,255);
      background: linear-gradient(0deg, rgba(163,202,255,1) 0%, rgba(255,255,255,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & :nth-of-type(2) {
      color: #A3CAFF;
      z-index: 2;
    }
    & :nth-of-type(3) {
      position: absolute;
      bottom: -59%;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(163,202,255,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.package {
  margin-top: 80px;
  
  .container-dox {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .conteiner-dokx__item {
    padding: 76px 67px 74px 60px;
    background-color: #f1f6ff;
    width: 382px;
    border-radius: 4px;
    &::before {
      content: '';
      width: 29px;
      height: 41px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='41' viewBox='0 0 29 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.5 11.417V36.0605C28.5 38.2697 26.7091 40.0605 24.5 40.0605H4.5C2.29086 40.0605 0.5 38.2697 0.5 36.0605V5.06055C0.5 2.85141 2.29086 1.06055 4.5 1.06055H18.0232M28.5 11.417H22.0232C19.814 11.417 18.0232 9.62615 18.0232 7.41701V1.06055M28.5 11.417L18.0232 1.06055' stroke='%234998FF'/%3E%3C/svg%3E");
    }
  }
}