.button {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &--red {
    background-color: #ff4021;
    &:hover {
      background-color: #ff2400;
    }
  }

  &--mg-t--30 {
    margin-top: 30px;
  }

  &--blue {
    width: 100%;
    border: 1px solid #006EFF;
    color: #006EFF;
    font-size: 16px;
    line-height: 21px;
  }
  &--mg-t--100 {
    margin-top: 100px;
  }
}