.modal {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.44);
    overflow-y: auto;
    transition: $ease-main;
    pointer-events: none;
    z-index: 6;

    &--active {
        opacity: 1;
        pointer-events: auto;
    }

    &__thanks {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        z-index: 4;
    }

    &__item {
        display: none;
        margin: 0 auto;
        $padding: 15px;
        $width: 550px;
        padding: 120px $padding; // test
        max-width: $width + $padding * 2;
        
        &--large {
            $width: 1100px;
            max-width: $width + $padding * 2;
        }

        &--active {
            display: block;
        }
    }


    &__close {
        margin-left: auto;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 4px;
        transition: $ease-main;

        &:hover {
            
            .modal__close-icon {
                transform: rotate(90deg);
            }
        }
    }
    
    &__close-icon {
        display: flex;
        transition: inherit;
    }


    &__content {
        position: relative;
        margin-top: 5px;
    }

    &__section {
        background-color: white;
        position: relative;
        &--blue {
            background: #4998FF;
        }

        &--pd-tb--60 {
            padding: 60px 0 125px;

            @media (max-width: 650px) {
                padding: 30px 0 70px;
            }
        }

        &--pd-tb--100 {
            padding: 100px 0 80px;

            @media (max-width: 650px) {
                padding: 50px 0;
            }
        }

        &--pg-t--80 {
            padding: 80px 0;

            @media (max-width: 650px) {
                padding: 30px 0;
            }
        }

        &--pd-b--35 {
            padding: 80px 0 35px;

            @media (max-width: 650px) {
                padding: 30px 0 15px;
            }
        }
        &--pd-b--60 {
            padding-bottom: 60px;
        }
    }

    &__inner {
        padding: 0 250px 0 60px;

        @media (max-width: 870px) {
            padding: 0 100px 0 30px;
        }
        @media (max-width: 650px) {
            padding: 0 50px 0 30px;
        }
        @media (max-width: 550px) {
            padding: 0 20px;
        }
    }

    &__row {
        display: flex;

        @media (max-width: 550px) {
            display: block;
        }

        &-item {
            width: 50%;
            margin-bottom: 38px;
        }

        &--mg-t--80 {
            margin-top: 80px;
            padding: 0 50px 0 30px;

            @media (max-width: 550px) {
                margin-top: 20px;
            }
        }
    }

    &__left-column {
        max-width: 190px;
        width: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: white;
        &--black {
            color: black;
        }
    }

    &__column {
        max-width: 600px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: white;
        &--start {
            font-size: 18px;
            line-height: 23px;

        }
        &--center {
            margin: 0 auto;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;

        @media (max-width: 870px) {
            font-size: 17px;
            line-height: 23px;
        }

        @media (max-width: 550px) {
            padding-bottom: 20px;
        }

        &--black {
            color: black;
        }

        &--start {
            font-size: 36px;
            line-height: 46px;

            @media (max-width: 870px) {
                font-size: 28px;
                line-height: 38px;
            }
        }

        &--photo {
            font-size: 34px;
            line-height: 44px;
            color: black;
            margin-bottom: 34px;

            @media (max-width: 650px) {
                font-size: 29px;
                line-height: 35px;
            }
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: white;

        @media (max-width: 650px) {
            font-size: 14px;
            line-height: 18px;
        }
        &--black {
            color: black;
        }

        &--name {
            font-size: 22px;
            line-height: 28px;
            color: black;

            @media (max-width: 650px) {
                font-size: 19px;
                line-height: 25px;
            }
        }

        &--mg--50 {
            margin: 50px 0 16px;
        }
    }

    &__img img {
        max-height: 320px;
        position: absolute;
        right: 115px;
        bottom: 0;

        @media (max-width: 870px) {
            max-height: 250px;
            right: 50px;
        }

        @media (max-width: 650px) {
            max-height: 200px;
        }
        @media (max-width: 550px) {
            position: static;
        }
    }

    &__list {
        margin: 30px 0;
        list-style-image: url(../images/modal-list.svg);
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: white;

        @media (max-width: 650px) {
            font-size: 14px;
            line-height: 18px;
        }

        &--black {
            color: black;
        }

        &--mg-b--63 {
            margin: 0 0 63px;

            @media (max-width: 650px) {
                margin: 0;
            }
        }
    }

    &__list li {
        margin-bottom: 14px;
        margin-left: 15px;
    }
}