.text {
  &--start {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: white;
    margin-top: 5px;
    @include medium {
      font-size: 12px;
    }
  }

  &--toolTip {
    font-weight: 100;
    font-size: 18px;
    line-height: 140%;
    color: #0A0A0A;
  }

  &--section{
    font-size: 20px;
    line-height: 31px;
    color: white;
  }

  &--section-small {
    font-size: 14px;
    line-height: 127.98%;
  }

  &--italic {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    @media (max-width: 920px){
      font-size: 12px;
    }
  }

  &--mg-t--33 {
    margin-top: 33px;
  }

  &--mg-t--20 {
    margin-top: 20px;
  }

  &--mg-t--60 {
    margin-top: 60px;
  }

  &--black {
    color: black;
  }
}