.title {
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  color: #0A0A0A;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include large {
    font-size: 40px;
  }
  @include medium {
    font-size: 30px;
  }

  &--white {
    color: white;
  }

  &--start {
    font-size: 55px;
    color: white;

    @include large {
      font-size: 42px;
    }
    @include medium {
      font-size: 30px;
    }
  }

  &--footer {
    font-size: 60px;
    line-height: 127.98%;
    @include large {
      font-size: 42px;
    }
    @include medium {
      font-size: 36px;
    }
  }

  &--start-h2 {
    font-size: 32px;
    color: white;
    margin-top: 80px;

    @include large {
      font-size: 26px;
    }
    @include medium {
      font-size: 20px;
      margin-top: 40px;
    }
  }

  &--subtitle {
    font-size: 26px;
    line-height: 35px;
    @include large {
      font-size: 23px;
    }
    @include small {
      font-size: 20px;
    }
  }

  &--subtitle-small {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    @include large {
      font-size: 22px;
    }
    @include small {
      font-size: 20px;
    }
  }

  &--mg-t--20 {
    margin-top: 20px;
  }

  &--mg-t--35 {
    margin-top: 35px;
  }
  
}