.tooltip {
  position: absolute;
  width: 336px;
  display: none;
  background-color: white;
  border: 1px solid #D0E4FF;
  border-radius: 4px;
  padding: 36px 50px;
  font-size: 16px;
  line-height: 21px;
  color: #0A0A0A;
  white-space: normal;
  z-index: 2;
  text-align: left;
  filter: drop-shadow(0px 4px 202px rgba(0, 0, 0, 0.13));
}

.arrow {
  position: absolute;
  display: none;
  width: 13px;
  height: 13px;
  transform: rotate(45deg) translate(-80%, 10%);
  background-color: white;
  left: calc(100% + 15px);
  border-radius: 3px;
  top: calc(0 + 50%);
  z-index: 2;
  border-bottom: 1px solid #D0E4FF;
  border-left: 1px solid #D0E4FF;
  @media (max-width: 1050px) {
    right: calc(100% - 3px);
    left: auto;
    border-top: 1px solid #D0E4FF;
    border-right: 1px solid #D0E4FF;
    border-bottom: none;
    border-left: none;
  }
}
.arrowl {
  position: absolute;
  display: none;
  width: 13px;
  height: 13px;
  transform: rotate(45deg) translate(-80%, 10%);
  background-color: white;
  border-radius: 3px;
  right: calc(100% - 3px);
  top: calc(0 + 50%);
  z-index:2;
  border-top: 1px solid #D0E4FF;
  border-right: 1px solid #D0E4FF;
}
.arrow-block {
  display: block;
  @media (max-width: 630px) {
    top: 150%;
    right: 50%;
    border-left: 1px solid #D0E4FF;
    border-right: none;
  }
}



.tool-active {
  left: calc(100% + 12px);
  transform: translateY(-20%);
  display: flex;
  @media (max-width: 1050px) {
    right: calc(100% + 12px);
    left: auto;
  }
  @media (max-width: 630px) {
    left: -106px;
    top: 150%;
    transform: translateY(0);
  }
}
.tool-activel {
  right: calc(100% + 12px);
  left: auto;
  transform: translateY(-20%);
  display: block;
  @media (max-width: 630px) {
    left: -106px;
    top: 180%;
    transform: translateY(0);
  }
}



.tariff-tool {
  @include extraLarge {
    left: -25px;
    top: 150%;
    transform: translateY(0);
  }
}
.tariff-arrow {
  @include extraLarge {
    top: 150%;
    right: 50%;
    border-left: 1px solid #D0E4FF;
    border-right: none;
  }
}


#tool-one {
  width: 625px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tool-inner {
    position: relative;
    width: 100%;
  }

  .item {
    position: absolute;
    top: 36px;
    left: 50px;
    width: 391px;
    height: 347px;
    padding: 43px 0 0 43px;
    color: #F2F7FF;;
    font-size: 30px;
    line-height: 39px;
    &::after {
      content: '';
      position: static;
      display: block;
      width: 34px;
      height: 34px;
      margin-top: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.707031 14.8835H14.707V0.883545L0.707031 14.8835Z' fill='%23D7E8FF'/%3E%3Crect x='33.707' y='14.8835' width='14' height='14' transform='rotate(-180 33.707 14.8835)' fill='%232885FF'/%3E%3Cpath d='M19.707 0.883545V14.8835L33.707 0.883545H19.707Z' fill='%23D7E8FF'/%3E%3Crect x='14.707' y='33.8835' width='14' height='14' transform='rotate(-180 14.707 33.8835)' fill='%232885FF'/%3E%3Cpath d='M0.707031 19.8835V33.8835L14.707 19.8835H0.707031Z' fill='%23D7E8FF'/%3E%3C/svg%3E%0A");
    }
  }


  img{
    height: 347px;
  }

  @media (max-width: 1200px) {
    width: 560px;
  }

  @media (max-width: 725px) {
    width: 465px;
    padding: 10px;
  }

  @media (max-width: 630px) {
    width: 320px;
  }

  img {
    width: 100%;
  }
}


